<div id="dashboard" class="container page">
  <h1>Welcome, <span id="user_name"><em>{{ dash.userInfo.firstName }} {{ dash.userInfo.lastName }}</em></span>!</h1>
  <hr>

  <h2>Your Books</h2>

  <uib-accordion close-others="dash.oneAtATime">
    <uib-accordion-group ng-repeat="book in dash.userInfo.books" is-open="book.open">
      <uib-accordion-heading>
        <i class="fa fa-times delete-book" click-override ng-click="dash.deleteBook(book, dash.userInfo.books)"></i>
        <i class="fa fa-pencil edit-book" click-override ng-click="dash.editBook(book)"></i>
        {{ book.title }}
        <i class="fa pull-right" ng-class="{ 'fa-chevron-right': !book.open, 'fa-chevron-down': book.open }"></i>
      </uib-accordion-heading>

      {{ book.summary }}
    </uib-accordion-group>
  </uib-accordion>

</div>
