<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="hero-text">
      Write anywhere...<br>
      What a <strong>novel</strong> concept!
    </h1>

    <div class="hero-buttons">
      <a href="/register" target="_self" class="btn btn-lg btn-primary">Register</a>
      <a href="/login" target="_self" class="btn btn-lg btn-secondary">Login</a>
    </div>
  </div>
</div>

<div ng-controller="LogoutCtrl">
  <a ng-click="logUserOut()" class="btn btn-default">Testing Log Out</a>
</div>
