<div class="container page" id="{{ scene.pageId }}">
  <uib-alert ng-repeat="msg in scene.messages" type="{{ msg.type }}" ng-show="scene.messages" close="scene.closeMsg($index)">
    {{ msg.text }}
  </uib-alert>

  <h1>Scene Editor</h1>
  <hr>

  <div class="form-group">
    <label for="scene_title">Title:</label>
    <input class="form-control" type="text" id="scene_title" ng-model="scene.content.title">
  </div>

  <div class="form-group">
    <textarea class="form-control" id="text_editor" ui-tinymce="scene.tinymceOptions" ng-model="scene.content.contents"></textarea>
    <word-count></word-count>
  </div>

  <div class="form-group pull-right">
    <button type="button" class="btn btn-secondary" ng-click="scene.cancel()">
      Cancel
    </button>

    <button type="button" class="btn btn-primary" id="save_scene" word-count="scene.content.wordCount" ng-click="scene.save(scene)">
      <i class="fa fa-save" ng-hide="scene.isSaving"></i>
      <i class="fa fa-cog fa-spin" ng-show="scene.isSaving"></i>
      Save
    </button>
  </div>
</div>
