// fonts
$fa-font-path: "../lib/font-awesome/fonts";
@import "../lib/font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Courgette|Lato|Bitter:400,400italic,700);

// bootstrap
$brand-primary: #3FC5A6;
@import "../lib/bootstrap/scss/mixins/grid";
@import "../lib/bootstrap/scss/bootstrap";

// partials
@import "typography";
@import "navbar";

// page and body
.page {
  @include make-container();
  max-width: 1200px;
  margin-top: 2rem;
}

body {
  color: #393E41;
  font-family: Lato, sans-serif;
  padding-top: 72px;
}

// dashboard
.panel {
  background: #E1E4E6;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.panel-title {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-bottom: 0;
}

.panel-body {
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #E1E4E6;
  border-radius: 3px;
}


// Override bad BSv4 styles
.form-control-label {
  padding: 0;
}

// Lander
.hero-text {
  @extend .display-3;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.hero-buttons {
  text-align: center;

  .btn {
    margin: 0 0.5rem;
  }
}

// Login & Register
.logreg-form {
  @extend .jumbotron;
  margin: 2rem auto;
  width: 40rem;
}

// Accordion
.panel-title a {
  color: $body-color;
  text-decoration: none;

  &:active,
  &:focus {
    outline: 0;
  }
}
