<!-- Scripts -->
<!-- Deps -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>

<!-- App -->
<script src="/js/app.js"></script>
<script src="/js/services/dashboard.js"></script>
<script src="/js/controllers/LanderCtrl.js"></script>
<script src="/js/controllers/DashboardCtrl.js"></script>
<script src="/js/controllers/ScenesCtrl.js"></script>
<script src="/js/controllers/SceneEditCtrl.js"></script>

</body>
</html>
