<!DOCTYPE html>
<html ng-app="writeAway">
<head>
  <meta charset="utf-8">

  <title>WriteAway</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav class="mainnav">
  <a href="#" class="mainnav__logo">WriterDash</a>

  <ul class="mainnav__items pull-right">
    <li class="mainnav__item">
      <a href="#" class="mainnav__link">Login</a>
    </li>
    <li class="mainnav__item">
      <a href="#" class="mainnav__link">Register</a>
    </li>
  </ul>
</nav>
