<!DOCTYPE html>
<html ng-app="writeAway">
<head>
  <meta charset="utf-8">

  <title>WriteAway</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <a href="#" class="navbar-brand">WriteAway</a>

  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a href="#" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Register</a>
    </li>
  </ul>
</nav>
